<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Thống kê</a>
        </li>
        <li class="breadcrumb-item active">Bảng thống kê gian hàng</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách đầu sách</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Tên Sách</th>
                  <th>Nhà Cung Cấp</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>   
                  <th>Action</th>                      
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Tên Sách</th>
                  <th>Nhà Cung Cấp</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>  
                  <th>Action</th>                  
                </tr>
              </tfoot>
              <tbody>
                  <% khosach.forEach(function(item){%>
                    <tr>
                        <th><%=item.tenSP%></th>
                        <td><%=item.nhaCungCap%></td>
                        <td><%=item.gia%></td>
                        <td><%=item.soLuong%></td>   
                        <td><a href="/delete?id=<%=item.MAKHO%>" onclick="return confirm ('Are you sure?')">Delete</a>
                            <a href="/update?id=<%=item.MAKHO%>">Update</a>
                        </td>                                    
                      </tr>
                  <%})%>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Cập nhật lần cuối lúc 23:59.</div>
      </div>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Top 10 cuốn sách bán chạy</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Tên Sách</th>
                  <th>Nhà Cung Cấp</th>
                  <th>Giá bán</th>
                  <th>Số lượng đã bán ra</th>                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Tên Sách</th>
                  <th>Nhà Cung Cấp</th>
                  <th>Giá bán</th>
                  <th>Số lượng đã bán ra</th>                 
                </tr>
              </tfoot>
              <tbody>
                  <% banchay.forEach(function(item){%>
                    <tr>
                        <th><%=item.tenSP%></th>
                        <td><%=item.nhaCungCap%></td>
                        <td><%=item.gia%></td>
                        <td><%=item.SLDaBan%></td>     
                        
                      </tr>
                  <%})%>           
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Cập nhật lần cuối lúc 23:59.</div>
      </div>

      <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Thêm sách</div>
          <div class="card-body">
            <form method="POST">
              <div class="form-group">
                  <div class="form-row">
                      <div class="col-md-6">
                          <div class="form-label-group">
                            <input type="text" id="ID" class="form-control" name="txtID" placeholder="First name" required="required" autofocus="autofocus">
                            <label for="ID">Mã Sách</label>
                          </div>
                        </div>
  
                  </div>
              </div>
              <div class="form-group">
               
                
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="Name" class="form-control" name="txtName" placeholder="First name" required="required" autofocus="autofocus">
                      <label for="Name">Tên sách</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="lastName" class="form-control" name="txtNCC" placeholder="Last name" required="required">
                      <label for="lastName">Nhà cung cấp</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="number" id="inputEmail" class="form-control" name="txtGiaBan" placeholder="Price" required="required">
                  <label for="inputEmail">Giá bán</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="number" id="inputPassword" class="form-control" name="txtSoLuong" placeholder="Quantity" required="required">
                      <label for="inputPassword">Số lượng</label>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">Lưu</button>
              </form>
          </div>
        </div>

    </div>