<div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Thống kê</a>
        </li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
      </ol>

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Danh sách người dùng</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Công việc</th>
                  <th>Địa chỉ</th>
                  <th>Tuổi</th>
                  <th>Ngày tham gia</th>
                  
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Tên</th>
                  <th>Công việc</th>
                  <th>Địa chỉ</th>
                  <th>Tuổi</th>
                  <th>Ngày tham gia</th>
                  
                </tr>
              </tfoot>
              <tbody>
                  <% khachhang.forEach(function(item){%>
                    <tr>
                        <th><%=item.MAKH%></th>
                        <td><%=item.ten%></td>
                        <td><%=item.congViec%></td>
                        <td><%=item.diaChi%></td>
                        <td><%=item.tuoi%></td>
                        <td><%=item.ngayThamGia%></td>
                      </tr>
                  <%})%>                 
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Cập nhật lần cuối lúc 23:59.</div>
      </div>

      <div class="container">
        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Thay đổi thông tin người dùng</div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus" value="Trần Sỹ Hùng">
                      <label for="firstName">Tên người dùng</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="lastName" class="form-control" placeholder="Last name" required="required" value="Ca Sĩ">
                      <label for="lastName">Công việc</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" value="87 Đào Duy Từ, Quận 2, Quảng Bình">
                  <label for="inputEmail">Địa chỉ</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="inputPassword" class="form-control" placeholder="Password" required="required" value="20">
                      <label for="inputPassword">Tuổi</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-label-group">
                      <input type="text" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required" value="2017/01/12">
                      <label for="confirmPassword">Ngày tham gia</label>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary btn-block" href="login.html">Lưu</a>
          </div>
        </div>

        <div class="container">
            <div class="card card-register mx-auto mt-5">
              <div class="card-header">Xóa người dùng</div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <div class="form-row">
                      <div class="col-md-6">
                        <div class="form-label-group">
                          <input type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                          <label for="firstName">ID người dùng</label>
                        </div>
                      </div>  
                    </div>
                  </div>
                  <a class="btn btn-primary btn-block" href="login.html">Xóa</a>
              </div>
            </div>

    </div>